.settings
target
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/main/webapp/META-INF/maven
src/main/webapp/META-INF/MANIFEST.MF
.idea
schema-h2-image/portal.lock.db
schema-h2-image/portal.trace.db
trace.db
*.iml
.springBeans
*.tar